<main class="change-pw">
    <section class="change-pw-section">
        <h2>Reset Password</h2>
        {{#if isWrong}}
        <p class="change-error">*Invalid password introduce a new one</p>
        {{/if}}
        <form class="form-change-password" data-user-id="{{uid}}" data-token="{{token}}">
            <div>
                {{#if isWrong}}
                <span class="change-error">*</span>
                {{/if}} 
                <input class="password-change" type="password" name="password" id="password"
                    placeholder="Introduce your new password" required>
            </div>
            <input class="reset-submit" type="submit" value="Reset password">
        </form>
    </section>
</main>

<script src="/js/changePassword.js"></script>