<main class="reset-main">
    <section class="reset-section">
        <h2 class="reset-title">Reset Password</h2>
        <form class="reset-form" action="/api/session/emailResetPassword" method="post">
            <p class="reset-text">Introduce your <strong>username</strong> or <strong>email</strong>, and check your inbox.
                You will receive and email with a link to continue the process </p>
            <input class="reset-email" type="mail" name="email" id="email" placeholder="Introduce your user or email here" required></input>
            <input class="reset-submit" type="submit" value="Get email"></input>
        </form>
        <footer>
            <button class="reset-goback" onclick="location.href='/'">
               Sign In
            </button>
        </footer>
    </section>
</main>