<main class="change-pw">
    <section class="token-expired">
        <h2 class="tituloErrorLogin">Link has been expired or is invalid!</h2>
        <a href="/resetPassword">Click here to get a new link</a>
    </section>
</main>