<h2>Chat Ecomerce</h2>
<h3 id="user-mail"></h3>
<form id="form">
    <input type="text" name="message" id="message">
    <input type="submit" value="Enviar">
</form>
<p id="chat"></p>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>