<h2>Login</h2>

<form action="/" method="post">
  Usuario:  <input type="email" name="email" id="email">
  Password:  <input type="password" name="password" id="password">
  <input type="submit" value="Ingresar" ></input>
</form>

<a href="/api/session/registration">Registrarse Aqui</a>