<main class="mainLogin">
  <div class="contenedorLogin">
    <h2 class="tituloLogin">Login</h2>

    <form class="loginForm" action="/login" method="post">
      Usuario: <input type="email" name="email" id="email" style="color:black">
      Password: <input type="password" name="password" id="password" style="color:black">
      <input class="loginButton" type="submit" value="Ingresar"></input>
    </form>
    <div>
      <a class="registrese" href="/api/session/registration">Registrarse Aqui</a>
    </div>
    <div>
      <a class="registrese" href="/api/session/reestablecer">Reestablecer Contraseña</a>
    </div>
    <button class="loginButton" onclick="location.href='/githubLogin'">Iniciar sesion con GITHUB</button>
  </div>
</main>