<main class="mainLogin">
 <div class="contenedorLogin">
  <h2 class="tituloLogin">Login</h2>

  <form class="formularioLogin" action="/" method="post">
    Usuario:  <input type="email" name="email" id="email">
    Password:  <input type="password" name="password" id="password">
   <input class="loginButton" type="submit" value="Ingresar" ></input>
  </form>
  <div>
   <a class="registrese" href="/api/session/registration">Registrarse Aqui</a>
  </div>
  <button class="loginButton" onclick="location.href='/githubLogin'">Iniciar sesion con GITHUB</button>
 </div>
</main>
