<form class="mainErrorLogin" action="/api/session/reestablecerRedirect" method="post">
 <input type="mail" name="email" id="email" placeholder="Ingresa tu usuario o mail" style="color:black"></input>
 <input type="submit" value="click aqui y recibiras un mail" style="color:black"></input>
</form>