<form action="/api/session/changePassword/{{uid}}" method="post">
    <input type="password" name="password" id="password" placeholder="Ingresa tu nueva contraseña" style="color:black">
    <input type="submit" value="Reestablecer contraseña" style="color:black">
</form>