<h2>Registro</h2>
<form action="/api/session/registration" method="post">
    Nombre: <input type="text" name="first_name" id="first_name" style="color: black;">
    Apellido: <input type="text" name="last_name" id="last_name" style="color: black;">
    Email: <input type="email" name="email" id="email" style="color: black;">
    Edad: <input type="number" name="age" id="age" style="color: black;">
    Constraseña: <input type="password" name="password" id="password" style="color: black;">
    <input type="submit" value="Registrarse">
</form>

<h3>Registro con github</h3>
<button onclick="location.href='/api/session/GitHubregistration'">GITHUB</button>