.header-products {
  background-color: white;
  border-bottom: 2px solid #555555be;
}

.nav-products {
  padding: 0.5rem 1rem 0.2rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products-logo {
  width: 4rem;
}

.icons {
  display: flex;
  align-items: center;
  gap: 1rem;
}


.welcome {
  color: #555555;
  font-size: 1rem;
}

.search {
  font-weight: bold;
  font-size: 0.9rem;
  border: none;
  padding: 0.5rem;
  width: 17rem;
}

.search:focus {
  outline: none;
}

.profile-button,
.logout-button,
.cart-button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.search-container {
  border-radius: 1rem;
  padding: 0.5rem;
  border: 2px solid #555555;
  display: flex;
  align-items: center;
}

.main-products {
  background-color: #bdbebf;
  display: grid;
  grid-template-areas:
    "aside section"
    "footer footer";
  grid-template-columns: 3fr 9fr;
  grid-template-rows: 20fr 1fr;
}

.aside-products {
  margin: 2rem;
  grid-area: aside;
  background-color: white;
  box-shadow: 12px 12px 8px rgba(0, 0, 0, 0.2);
}

.section-products {
  gap: 1.5rem;
  padding: 2.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: min-content repeat(3, auto) min-content;
  grid-area: section;
  background-color: #bdbebf;
}

.footer-products {
  grid-area: footer;
  background-color: white;
}

.image {
  max-width: 150px;
  aspect-ratio: 1/1;
  object-fit: scale-down;
}

.img-container {
  background-color: #dedce9;
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 100%;
  align-self: center;
  border-bottom: 1px solid #555555;
}

.card {
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  border: 1px solid #555555;
  overflow: hidden;
  box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.2);
}

.card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in;
}

.info {
  color: #555555;
  min-height: 150px;
  padding: 1rem;
  gap: 0.25rem;
  background-color: white;
  display: grid;
  grid-template-rows: 20% 50% 30%;
  height: 100%;
}

button.add-to-cart {
  border: 1px solid #555555;
  background-color: #45ecde !important; 
  color: #555555;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  background-color: transparent;
  padding: 0 0.5rem;
}

button.add-to-cart:hover, .add-new-prod:hover{
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.products-title {
  font-size: 0.85rem;
  font-weight: bold;
}

.paginate {
  font-weight: bold;
  font-size: 1.25rem;
  color: #555555;
  justify-content: center;
  gap: 1rem;
  display: flex;
  align-items: center;
  grid-column: 1 / span 4;
  grid-row: 5;
  text-align: center;
}

.total-products {
  display: flex;
  justify-content: space-between;
  grid-column: 1 / span 4;
  grid-row: 1;
}

.pages {
  text-align: center;
}

.hidden {
  visibility: hidden;
}

.btn-link {
  justify-content: center;
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.btn-link img {
  width: 80%;
}

.page-btn {
  padding: 0 1.5rem;
  font-weight: bold;
  color: #555555;
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 1.4rem;
}

.page-btn:hover {
  color: #45ecde;
  text-decoration: underline;
}

.add-new-prod {
  cursor: pointer;
  background-color: #ff9a02;
  border-color: #555555;
  color: #555555;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  gap: 0.5rem;
  border-radius: 0.5rem;
}

.add-new-prod img {
  aspect-ratio: 1/1;
  width: 1.2rem;
}


