<main class="error-login">
    <section class="section-error-login">
        <h2 class="title-error-login"><img class="error-icon" src="/images/error-icon.svg" alt=""> Wrong user or password </h2>
        <p class="back-to-login">Go back to Sign In: <a href="/">CLICK HERE</a></p>
        <p class="Or-error">Or</p>
        <p class="change-password"> You forgot your password? <a href="/resetPassword">CLICK HERE</a></p>
        <img class="error-login-logo" src="/images/logo.png" alt="logo">
    </section>
</main>