<main class="main-login">
  <section class="section-login">
    <div class="div-img">
      <img src="{{logoPath}}" alt="logo" />
    </div>
    <div class="sign-in-container">
      <div class="titles">
        <h1>Welcome Back</h1>
        <h2>Welcome Back. Please enter your details</h2>
      </div>
      <form class="sign-in-form" action="/api/session/login" method="post">
        <input class="mail" type="email" id="email" name="email" placeholder="Insert your email" required>
        <div class="password-container">
        <input class="password" type="password" id="password" name="password" placeholder="Insert your password" required>
        <a href="/reestablish">Forgot password?</a>
        </div>
        <input class="sign-in" type="submit" value="Sign In">
      </form>
      <h2 class="Or">Or</h2>
      <form class="sign-up-form" action="/signUp" method="get">
        <input class="sign-up" type="submit" value="Sign Up">
      </form>
      <h2 class="continue-with">------------------- Or continue with -------------------</h2>
      <div class="other-logins">
        <button class="github-button" onclick="location.href='/api/session/githubLogin'"><img class="github-icon"
            src="/images/github-logo.svg" alt="github icon"></button>
      </div>
    </div>
  </section>
  <section class="section-img">
    <div class="div-carrito-background">
      <img src="/images/cart.svg" alt="cart image">
    </div>
  </section>
</main>